html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #46a094;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0;
    height: 100vh;
}

.register {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

label{
    font-size: larger;
}

#username, #email {
    border: transparent;
    border-radius: 0.4rem;
    margin: 0 10rem 0;
    padding: 2%;
    width: 100%;
    font-size: large;
    text-align: center;
    background-color: antiquewhite;
}

#username:focus, #email:focus, #password:focus {
    outline: none;
}

#username:hover, #email:hover, .password-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}   

.register-btn {
    padding: 2%;
    border-radius: 0.4rem;
    margin: 1rem;
    font-size: larger;
    background-color: antiquewhite;
}


#password-requirements-inv {
    display: none;
}

#password-requirements-vis {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    justify-content: center;
    margin: 1rem;
    border: 0.15rem solid black;
    border-radius: 0.4rem;
    background-color: antiquewhite;
}

#characters, #uppercase, #symbol, #number {
    flex-basis: 0.1rem;
    padding: 0%;
    margin: 5%;
    font-size: medium;
}

.invalid {
    color: red;
}

.valid {
    color: green;
}

#response{
    font-size: larger;
    font-weight: bold;
    color: firebrick;
    margin-top: 1rem;
    padding: 0;
}

.password-container{
    position: relative;
    border: transparent;
    border-radius: 0.4rem;
    /* margin: 0 10rem 0; */
    padding: 2%;
    width: 100%;
    background-color: antiquewhite;
}

.password-container input {
    width: 100%;
    font-size: large;
    font-weight: 600;
    text-align: center;
    background-color: transparent;
    border: none;
}

.password-container i {
    position: absolute;
    right: 2%;  /* 2% of the parent's width from the right edge of the parent */
    top: 50%;   /* moves the element's edge by 50% of the parent's height */
    transform: translateY(-50%);    /* moves the element up by 50% of its own height */
    cursor: pointer;   
    
}