#data-input-container{
    border-radius: 0.6rem;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0;
}

#product-data-edit-container,
#store-data-edit-container{
    margin: 1rem 0 ;
}

#store-data-edit-container,
#delete-data-container{
    border-top: 2px solid black ;
}

#product-file-label,
#price-file-label{
    font-size: medium;
}

#product-input-container,
#price-input-container,
#store-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
}

#leaderboard-container label {
    font-size: large;
    font-weight: 600;
    border-bottom: 0.2rem solid var(--antiquewhite);
}

#product-data-edit-container,
#store-data-edit-container,
#delete-data-container{
    width: 100%;
    max-width: 20rem;
    max-height: 10rem;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

#delete-data-container{
    justify-content: center;
    gap: 3rem;
    padding: 0.5rem 0;
}

#delete-data-container button{
    background-color: crimson;
    color: black;
    font-weight: bold;
    border: transparent;
    border-radius: 0.4rem;
}

#input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#product-data-edit-container input,
#store-data-edit-container input{
    height: 100%;
    max-height: 5rem;
}


#offers-diagram-container,
#average-discount-diagram-container,
#leaderboard-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0.6rem 0;
    width: 95%;
}


#offers-chart,
#average-discount-chart{
    height: 50%;
    max-height: 45rem;
    max-width: 45rem;
    background-color: antiquewhite;
    border-radius: 0.6rem;
    border: transparent;
    margin: 0.5rem 0;
}

#offers-select-container{
    padding: 0.2rem;
    border-radius: 0.6rem;
    max-width: 35rem;
    width: 95%;
    white-space: nowrap;
    background-color: antiquewhite;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#offers-select-container select,
#offers-select-container label{
    margin-bottom: 0.2rem;
}

#average-discount-select-container{
    padding: 0.2rem;
    border-radius: 0.6rem;
    background-color: antiquewhite;
    max-width: 35rem;
    width: 95%;
}

select {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: var(--medium);
}

option{
    font-size: var(--medium);
}

#submit-stores-button{
    margin-top: 1rem;
    margin-right: 0.5rem;
}

#submit-products-button{
    margin-top: 1rem;
    margin-right: 0.5rem;
}

#list-container{
    width: 95%;
    max-width: 35rem;

}

#page-selection-container{
    display: inline;
}

#page-dropdown,
#select-category{
    text-align: center;
}

#leaderboard-list{
    padding: 0;
}

#leaderboard-list-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 0.6rem;
    margin: 0.2rem 0;
    padding: 0.2rem;
    color: black;
    gap: 15%;   /*15% of the width of the container*/
}

#leaderboard-list-item-tokens-container *{
    margin: 0.2rem 0;
}