#statistics-container {
    width: 80%;
    height: 60%;
    max-width: 50rem;
    max-height: 40rem;
}

#offers-diagram-container{
    max-height: 30rem;
    max-width: 40rem;
    display: flex;
    flex-direction: column;
}

#offers-chart {
    background-color: antiquewhite;
    border-radius: 0.6rem;
    border: transparent;
}

#select-container{
    display: hidden;
    padding: 0.2rem;
    border-radius: 0.6rem;
    border: 1px solid black;
    width: fit-content;
    /* margin-bottom: -5%; */
}

