:root{
    --antiquewhite: antiquewhite;
    --background: #46a094;
    --radius: 0.6rem;
    --medium: medium;
}

input{
    text-align: center;
}

.like-dislike-history-container label,
.user-score-container label,
.user-tokens-container label,
.offers-submitted-container label {
    font-size: large;
    font-weight: 600;
    border-bottom: 0.2rem solid var(--antiquewhite);
}

.user-score-container p,
.user-tokens-container p{
    font-size: var(--medium);
    font-weight: 600;
    color: black
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

#display {
    height: fit-content;
    max-height: 95%;
    overflow-y: auto;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5%;
    max-height: 5%;
}

/* ======= Map Styling */
.map-vis{
    height: 95vh; 
    width: 100%;
}

.map-inv{
    display: none;
}

/* ======= Search Plugin ======= */
#category-search,
#store-search{
    background-color: white;
    border-radius: 0.6rem;
    padding: 0.2rem;
    outline: none;
    border: none;
    font-size: var(--medium);
    width: 10rem;
}



#store-search option,
#category-search option{
    white-space: normal;
}

.leaflet-control-search .search-tip {
    white-space: normal;
    width: 6rem;
}
/* ======= Popup Content ======= */
.leaflet-popup-content-wrapper {
    box-shadow: none;
    background: var(--background);
}

.popup-container {
    text-align: center;
    display: block;
    background-color: var(--background);
    border-radius: 0.6rem;
    height: fit-content;
}

.description {
    font-size: large;
    font-weight: 600;
}

.offers-container{
    width: fit-content;
    height: 10rem;
    overflow: auto;
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

.offer-container{
    /* border: 1px solid black; */
    margin: 0.3rem auto;
    border-radius: 0.6rem;
    background-color: var(--antiquewhite);
    font-size: var(--medium);
}
#garbage-btn{
    background-color: transparent;
    border: none;
}

#garbage-container{
    display: flex;
    justify-content: flex-end;
}

#garbage{
    margin-bottom: 1rem;
    margin-right: 1.8rem;
}

.add-offer, .review-offer{
    display: block;
    margin: 0 auto; /* 0 margin for top and bottom 
    and auto for left and right. Centers the button 
    inside the block */
    padding: 0.4rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 0.6rem;
}

.button-container{
    margin: 0.5rem auto;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*The first element is tied to the start of the element and the last to the end of the element*/
}

.button-container button {
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: var(--antiquewhite);
    font-size: large;
    font-weight:600;
    cursor: pointer;
}

.date-likes-dislikes {
    display: inline;
}

.dropdown-container-vis{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-container-inv{
    display: none;
}

/* ======= Icons ======= */
.fa-thumbs-up {
    color: green;
}

.fa-thumbs-down {
    color: red;
}

.greyed-out{
    color: grey;
}

.fa-thumbs-down-grey {
    color: grey;
}

/* ======= Profile Styling */
#Title{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    padding: 0.4rem 0;
}

.profile-container-inv{
    display: none;
}

.profile-container-vis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    overflow-y: auto;
}

#password-container{
    position: relative;
    border: transparent;
    border-radius: 0.4rem;
    /* margin: 0 10rem 0.5rem;
    padding: 2%; */
    width: 100%;
    background-color: antiquewhite;
}

#password-container input {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    outline: none;
}

#password-container i {
    position: absolute;
    right: 2%;  /* 2% of the parent's width from the right edge of the parent */
    top: 50%;   /* moves the element's edge by 50% of the parent's height */
    transform: translateY(-50%);    /* moves the element up by 50% of its own height */
    cursor: pointer;   
    
}

#password-requirements-inv {
    display: none;
}

#password-requirements-vis {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    justify-content: center;
    margin: 1rem;
    border: 0.15rem solid black;
    border-radius: 0.4rem;
    background-color: antiquewhite;
    height: 10%;
    width: 90%;
    max-width: 15rem;
    text-align: center;
}

#password-requirements-vis p {
    margin: clamp(0.3rem, 0.5rem, 0.7rem) 0;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}


.credentials-container, 
.offers-submitted-container, 
.like-dislike-history-container, 
.user-score-container, 
.user-tokens-container {
    margin-top: 0.5rem;
}

.credentials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 35rem;
    height: 15%;
    width: 50%;
}

.credentials-container input{
    border-radius: 0.6rem;
    background-color: var(--antiquewhite);
    width: 100%;
    height: 20%;
    font-size: var(--medium);
    outline: none;
}


.credentials-container label{
    font-size: large;
    font-weight: 600;
}

.credentials-container button{
    margin: 0.5rem 0;
    padding: 0.3rem;
    font-size: var(--medium);
    background-color: var(--antiquewhite);
    border-radius: var(--radius);
}

.credentials-container button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.offers-submitted-container{
    text-align: center;
    width: 70%;
    max-width: 35rem;
}

.offers-submitted-container ul{
    max-height: 30vh;
    overflow-y: auto;
    padding-left: 0;
    list-style-type: none;
}

.offers-submitted-container li{
    font-size: var(--medium);
    font-weight: 600;
    background-color: var(--antiquewhite);
    border-radius: 0.6rem;
    margin: 0.3rem auto;
    padding: 0.3rem;
    color: black;
    text-align: center;

    /* white-space: pre-wrap; */
}

.like-dislike-history-container {
    text-align: center;
    width: 70%;
    max-width: 35rem;
}

.like-dislike-history-container ul{
    max-height: 30vh;
    overflow-y: auto;
    padding-left: 0;
    list-style-type: none;
}

.like-dislike-history-container li {
    font-size: var(--medium);
    font-weight: 600;
    background-color: var(--antiquewhite);
    border-radius: 0.6rem;
    margin: 0.3rem auto;
    padding: 0.3rem;
    color: black;
    text-align: center;
}

.user-score-container{
    text-align: center;
}

.user-tokens-container{
    text-align: center;
}

/* ======= Navigation ======= */

.radio-label-container {
    flex: 1;    /*distributes available space equally among all children*/
    margin: 0;
    height: 100%;
    background-color: inherit;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs-radio {
    display: none;
}

.tab-label{
    cursor: pointer;
    padding: 0.2rem ;
}

.tabs-radio:checked+.tab-label{
    color: cornflowerblue;
    border-bottom: 0.3rem solid cornflowerblue;
}

.active{
    color: cornflowerblue;
    border-bottom: 0.3rem solid cornflowerblue;
}


