:root{
    --antiquewhite: antiquewhite;
    --radius: 0.4rem;
    --medium: medium;
    --large: large;
    --font-weight: 600;
    --border: 0.2rem solid transparent;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #46a094;
}

#container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    /*center horizontally*/
}

#search-select-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    max-width: 40rem;
    border-radius: 0.6rem;
    border : var(--border);
    background-color: darkcyan;
}

#search-select-container label{
    max-width: 25rem;
    white-space: normal;
    font-size: var(--large);
    font-weight: var(--font-weight);
    color: black;
}

#search-results {
    text-align: center;
}

#search-results ul {
    max-height: 6rem;
    overflow-y: auto;
    padding: 0;
    margin: 0.1rem;
    list-style-type: none;
}

#search-results ul li {
    padding: 0.2rem;
    margin: 0.1rem 0;
    color: black;
    cursor: pointer;
    border: 0.15rem solid black;
    border-radius: var(--radius);
}


#input-container {
    text-align: center;
    margin: 0.5rem auto;
    background-color: antiquewhite;
    border-radius: var(--radius);
    width: 80%;
    max-width: 30rem;
}

#input-container input {
    outline: none;
    border: var(--border);
    border-radius: var(--radius);
    background-color: transparent;
    text-align: center;
    font-weight: 600;
    font-size: var(--medium);
    color: black;
    width: 70%;
}

::placeholder{
    color: black;
    font-weight: 600;
    font-size: var(--medium);
    opacity: 1; /* Firefox */
}


#dropdown-container{
    text-align: center;
    margin: 0.5rem auto;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

#dropdown-container select{
    max-width: 40rem;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.3rem;
    font-size: var(--medium);
    font-weight: var(--font-weight);
    background-color: var(--antiquewhite);
    color: black;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    text-align-last: center;    /*aligns the text in the dropdown to the center*/
    text-align: center;         
    -moz-text-align-last: center;  /*aligns the text in the dropdown to the center for mozilla*/
    white-space: normal;         
}

#dropdown-container select option{
    background-color: var(--antiquewhite);
    color: black;
    cursor: pointer;
}

#dropdown-container select:hover, .submit input:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#dropdown-container input{
    margin: 0.5rem auto;
    padding: 0.3rem;
    font-size: var(--medium);
    font-weight: var(--font-weight);
    background-color: var(--antiquewhite);
    color: black;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    text-align: center;
    outline: none;
}
