body, h2 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    
}

body,h2 {
    background-color: cadetblue;
}


.date-likes-dislikes {
    display: inline;
}

.greyed-out{
    color: grey;
}

.color-green{
    color: green;
}

.color-red{
    color: red;
}

ul{
    margin: 0.5rem;
    padding: 0;
    display: block;
}

.list-item-container {
    /* border: 2px solid black; */
    background-color: antiquewhite;
    border-radius: 0.6rem;
    list-style-type: none;
    padding-left: 0;
    margin: 0.4rem auto;     /*top-down margin 0.1rem and left,right auto*/
    min-width: 20rem;
    max-width: 50rem;
    text-align: center;
    overflow: auto;
}

#list-container{
    align-items: center;
    padding-left: 0;
}

i {
    cursor: pointer;
}


.extended-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

#offer-image{
    max-width: 200px;
    max-height: 200px;
    padding: 0.5rem;
}
.user-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

